<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GOIBIBO">
  <test thread-count="5" name="Test">
    <classes>
    	
      	<class name="com.testcases.LoginPageTest"/>
      	
      	<class name="com.testcases.HotelPageTest"/>
      	
    </classes>
  </test> <!-- Test -->
</suite> <!-- GOIBIBO -->